.albumD #gridTop {
  display: grid;
	grid-template-columns: repeat(1, 2fr 2fr);
}

.albumD {
  grid-gap: .4em;
  padding: 0 5%;
}

.A1 {
  grid-column: 1 / span 2;
}
  .imgA1 video, .imgA2 video{
    width: 100%;
    height: auto;
    display: block;
  }
.A2 {
  #grid-column: 1;
  object-fit: cover;
  overflow: hidden;
}
  .imgA2, .imgA2 video {
    object-fit: cover;
    overflow: hidden;
    height: 100%;
  }
.A3 {

}
.A4 {
  #grid-column: 1 / span 2;
  padding: 15px 10px 90px;
}
.A5 p {
  font-size: 12pt;
}

.A5 .credits {
  font-size: 9pt;
  line-height: 140%;
}

.reel {
  width: 100%;
  height: auto;
}

@media only screen and (max-width: 600px) {
  .albumC #gridTop, #gridMid, #gridBot {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 0;
  }
}
