/*GENERAL RULES */
@import "" screen and (max-width: 768px);
@import "illustration.css";
@import "contact.css";
@import "about.css";
@import "gif.css";
@import "animation.css";
* {
	margin:0;
	padding:0px;
	box-sizing: border-box;
	text-decoration: none;
	list-style-type: none;
	font-family: Raleway, Roboto, "Roboto Condensed", "Open Sans", Futura, Lato, Arial, sans-serif;
  }

	html {
    position: relative;
    min-height: 100%;
}

#mainBody {
	margin: 0 0 180px;
}

@style_illustration;
@style_contact;

h1, h2, h3, p {
	color: #1B1D1F;
	padding: 0 0 10px
}

.albumA, .albumB, .albumC {
	position: relative;
	width: 100%;
	display: grid;
}
/*+++++++++++++++++++++++++HEADER+++++++++++++++++++++++++++++++++++*/

.nav_container {
	#height: 130px;
	padding: 12px;
}

	.logo {
	position: absolute;
	width: 68px;
	height: 68px;
	margin: 25px 70px;
	}

		.logo img {
			position: relative;
			text-align: center;
			margin: 0 auto;
			left: 50%;
			top: 50%;
			transform: translate(-50%,-50%);
		}

.navbar {
	float: right;
	margin: 12px 30px 12px 12px;
}

.navbar a {
	position: relative;
	width: 80px;
	text-align: center;
	display: block;
	margin: 50px 0;
	color: #1B1D1F;
	transition: .3s;
	float: left;
	font-size: 11pt;
	font-weight: 600;
	}
/*+++++++++++++++++++++++++++WRAPER+++++++++++++++++++++++++++++++++*/

#wrapper {
	width: 100%;
	padding: 15px 0 20px;
}

.welcome_div {
	width: 100%;
	text-align: center;
	padding-bottom: 1%;
}

.WELCOME {
	margin: 15px 0;
	font-weight: 700;
	font-size: 26pt
}

.WELCOME p {
	font-size: 22pt;
	font-weight: 600;
	color: #1B1D1F;
}

.contactbutton {
	position: relative;
	margin: 15px 0 10px;
}


.button1 {
	background-color: #002CDC;
	border-radius: 25px;
	transition-duration: 0.4s;
	border: none;
  color: white;
  padding: 16px 12px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 11pt;
	font-weight: 700;
}

.button1:hover {
	background-color: #000;
	padding: 14px 12px 18px;
}

.container {
	position: relative;
	width: 100%;
	box-sizing: border-box;
}

.video_reel {
	padding: 0 5%;
}

#video iframe {
	padding:0px;
}

/*+++++++++++++++++++++++CONTAINER-HOME+++++++++++++++++++++++++*/

/*+++++++++++++++++++++++++++ALBUM-HOME+++++++++++++++++++++++++++*/

.albumA {
	width: 100%;
	display: inline-grid;
	grid-template-columns: repeat(1, 2fr 2fr);
	grid-column-gap: 25px;
	grid-row-gap: 20px;
	padding: 15px 5%;
	position: relative;
}

	.albumA .thumbnail {
		object-fit: cover;
		height: 100%;
		width: 100%;
		overflow: hidden;
		position: relative;
	}

		.albumA .thumbnail .imgA {
			width: 100%;
		}

		.albumA .thumbnail .imgA img {
			width: 100%;
			height: auto;
			display: block;
			object-fit: cover;
		}

			.overlay {
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			height: 100%;
			width: 100%;
			opacity: .5;
			transition: .5s ease;
			background-color: #08265Ff1;
		}

		.imgA:hover .overlay {
			opacity: 1;
		}

		.textA {
			position: relative;
			text-align: center;
			font-weight: bold;
			font-size: 34pt;
			color: #fff;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}

		.textA a {
			color: #fff;
		}

/*+++++++++++++++++++++++++++++++FOOTER+++++++++++++++++++++++++++++*/
footer {
	width: 100%;
	text-align: center;
	padding: 48px;
	#background-color: #1B1D1F;
	bottom: 0;
	position: absolute;
	color: #fff;
}

iframe {
	height: 100%;
}

#footerFrame {
	position: absolute;
	bottom: 0;
	height: 180px;
	width: 100%;
}

#headerFrame {
	position: relative;
	bottom: 0;
	#height: 130px;
	width: 100%;
	overflow: hidden;
}

#social_links {
	margin: 0;
	padding: 0px;
	box-sizing: border-box;
	text-decoration: none;
	list-style-type: none;
	font-family: Raleway, Roboto, "Roboto Condensed", "Open Sans", Futura, Lato, Arial, sans-serif;
}

#social_links a {
	padding: 16px 18px 24px;
	display: inline-block;
}

#social_links img {
	width: 24px;
}

.copy p {
	color: #1B1D1F;
	font-size: 12pt;
	font-weight: 450;
}

/*+++++++++++++++++++++++++++DISPLAY_SIZES+++++++++++++++++++++++++++*/

@media only screen and (max-width: 600px) {
	.albumA {
		grid-template-columns: repeat(1, 1fr);
		grid-gap: 0;
		padding: 0;
	}

	.navbar a {
		font-size: 9pt;
		padding: 0 auto;
		width: 60px;
	}

	.navbar {
		margin: 0 auto;
	}

	#social_links img {
		width: 18px;
	}

	body {
		margin: 0 0 185px;
	}

	.video_reel {
		padding: 0px;
	}

	#video iframe {
		padding:0;
	}


}


@media only screen and (max-width: 400px) {
	#social_links img {
		width: 14px;
	}

	.copy p {
		font-size: 10pt;
	}

	#video {
		display:none;
	}

}
