* {
  margin:0px;
  padding:0px;
}

#octocat {
  display: block;
  width:384px;
  margin: 50px auto;
}

p {
  display: block;
  width: 400px;
  margin: 50px auto;
  font: 30px Monaco,"Courier New","DejaVu Sans Mono","Bitstream Vera Sans Mono",monospace;
}

#bacKwall {
    width: 100%;
    position: fixed;
    min-height: 45%;
    min-width: 100%;
    top: 0px;
    left: 0px;
    z-index: -100;
}

.welcome {
    color: #ffffff;
}
