* {
	margin:0;
	padding:0px;
	box-sizing: border-box;
	text-decoration: none;
	list-style-type: none;
	font-family: "Roboto", "Roboto Condensed", "Open Sans", "Futura", "Lato", "Arial";
  
  }
  
  html {
	  height: 100%;
  }
  
  body {
	  background: url(images/backwall.jpeg) repeat-y;
	  background-size: cover;
	  background-position-y: top 50px;
	  background-attachment: fixed;
	  height: 100%;
  }
  
  
  h1 {
	  padding-top: 30px;
	  font-family: "Roboto Condensed", "Roboto";
  }
  
  p {
	display: block;
	margin: 20px auto 50px;
  }
  
  #videoreel {
	  padding: 0px;
	  margin: 0px 0px -3px;
  }
  
  .videom {
	  top: 0px;
	  padding: 0px;
	  margin: 0px;
	  width: 100%;
	  height: 100%;
	  object-fit: cover;
  }
  
  .sticky  {
	  z-index: 200;
	  height: 100%;
	  text-align: center;
	  top: -1px;
	  position: sticky;
	  background-color: rgb(255, 194, 84);
  }
  
  .wordmark img {
	  width: 24mm;
	  height: auto;
	  margin: 15px 25px 10px;
  }
  
  .wordmark {
	  background-color: #321348;
  }
  
  .wordmark {
	  float: left;
  }
  ul {
	  text-align: center;
	  width: 100%;
	  z-index: 100;
	  list-style-type: none;
	  margin: 0px;
	  padding: 0px;
	  overflow: clip;
	  background-color: rgb(255, 194, 84);
	}
  
  li {
	  float: right;
	}
  
  li  a {
	  display: inline-block;
	  color: #111111;
	  text-align: center;
	  padding: 20px 22px;
	  font-weight: bold;
	  height: 71px;
	}
  
  a:link {
	  background-color: ;
	  text-decoration: none;
	  color: #333;
	}
	
	/*a:visited {
	  background-color: ;
	  color: #333;
	}*/
	
	ul a:hover {
	  background-color: #321348;
	  color: #fff;
	}
	
	ul a:active {
	  background-color: #333333;
	} 
  
  .wrapper {
	  display: grid;
	  padding: 0px;
	  margin: 0px;
	  width: 100%;
	  #grid-auto-rows: minmax(250px, auto);
	  background: #fff;
	  #grid-template-columns:1fr 5fr;
  }
  
  .wrapper div { 
	  text-align: center;
	  
  }
  
  /*.wrapper > div:nth-child(odd){
	  background: #fff;
  }*/
  
  .about {
	  text-align: justify;
	  font-size: 12pt;
	  width: 770px;
	  font-family: "Roboto Condensed", "Roboto", "Open Sans", "Futura", "Lato", "Arial";
	  line-height: 18pt;
  }
  
  .about h1 {
	  font-size: 25pt;
  }
  
  #aboutdiv {
	  padding: 60px 0px 5px;
  }
  
  #services {
	  text-align: center;
	  width: 100%;
	  padding: 55px 0px 40px;
	  margin: 0px;
	  min-height: 250px;
	  text-align: center;
  }
  
  #services p {
	  color: #fff;
	  font-family: "Roboto Condensed", "Roboto", "Open Sans", "Futura", "Lato", "Arial";
  }
  
  #services h1 {
	  color: #fff;
	  font-family: "Roboto Condensed", "Roboto", "Open Sans", "Futura", "Lato", "Arial";
	  font-weight: bold;
	  margin: 10px 0px 30px;
  }
  
  #services h2, h3 {
	  color: #FFC254;
	  font-family: "Roboto Condensed", "Roboto", "Open Sans", "Futura", "Lato", "Arial";
	  font-weight: bold;
	  margin: 10px 0px 10px;
  }
  
  #services h4 {
	  color: #FFC254;
	  font-family: "Roboto Mono", "Roboto Condensed" "Open Sans", "Futura", "Lato", "Arial";
	  margin: 10px 0px 10px;
  }
  
  .footer {
	  z-index: 5;
	  color: #fff;
	  padding: 15px 0px 20px;
	  text-align: center;
  }
  
  .foot {
	  color: #333;
	  padding: 45px;
	  font-size: 12pt;
	  position: relative;
  }
  
  /*GALLERY RULES*/
  
	  .gallery {
		  text-align: center;
		  position: relative;
		  overflow: hidden;
	  }
  
	  #galdiv {
		  padding: 0px 2%;
	  }
  
	  .gallery img {
		  width: 100%;
		  object-fit: cover;
		  transition: 1.5s;
		  filter: grayscale(45%);
		  }
  
	  .gallery img:hover {
		  transform: scale(1.05);
		  filter: grayscale(0);
		  }
  
	  .desc {
		  color: #fff;
		  bottom: 2px;
		  width: 100%;
		  position: absolute;
		  z-index: 50;
		  padding:25px 15px;
		  text-align: center;
		  font-family: "Roboto";
		  background-color: rgba(51, 51, 51, 0.123);
		  transition: 1s;
		  opacity: 0;
		  }
		  
	  .desc:hover {
		  overflow: hidden;
		  background: rgba(51, 51, 51, 0.808);
		  opacity: 1;
		  padding-bottom: 20%;
	  }
  
	  .responsive {
		  padding: 0px 10px 50px;
		  float: left;
		  width: 33.33%;
		  }
  
	  @media only screen and (max-width: 900px) {
		  .responsive {
			  width: 50%;
			  }
  
		  body {
			  background-size:cover center fixed;
			  background-position-y: top 50px;
			  }
				  
		  .about {
			  width: 450px;
			  }
  
		  #aboutdiv {
			  padding: 35px 0px 5px;
			  }
  
		  .sticky  {
			  text-align: center;
			  z-index: 200;
			  top: -1px;
			  position: sticky;
			  }
	  
		  ul {
			  width: 100%;
			  z-index: 100;
			  list-style-type: none;
			  margin: 0px;
			  padding: 0px;
			  overflow: clip;
				}
			  
		  li, li a {
			  width: 100%;
			  float: none;
			  display: inline-block;
  
				}
			  
		  li  a {
			  color: #111111;
			  text-align: center;
			  padding: 17px 15px;
			  font-weight: bold;
			  height: auto;
			  }
  
		  ul li {
			  display: none;
			  }
  
		  ul:hover li, li a {
				  display: inline-block;
			  }
  
			  ul:hover .wordmark {
				  display: none;
			  }
  
		  .wordmark img {
			  width: 20mm;
			  height: auto;
			  margin: 10px 15px;
			  }
  
		  .wordmark {
			  display: inline-block;
			  float: left;
			  overflow: hidden;

				  }
  
		  .wordmark:hover {
			  background-color: #321348;		
			  }
			  
		  }
  
	  @media only screen and (max-width: 500px) {
		  .responsive {
			  width: 100%;
		  }
		  body {
		  background-size: contain;
		  background-position-y: top 60px;
		  }
		  
		  .about {
			  width: 280px;
			  text-align: center;
		  }
  
		  #galdiv {
			  padding:0px;
		  }
  
		  .videom {
			  display: none;
		  }
  
		  .wordmark {
			  width: 100%;
			  }
  
	   }