
* {
	margin:0;
	padding:0px;
	box-sizing: border-box;
	text-decoration: none;
	list-style-type: none;
	font-family: Roboto, "Roboto Condensed", "Open Sans", Futura, Lato, Arial, sans-serif;
  
  }

input {
	display: none;
	position: fixed;
}

#cover {
	display: none;
}
  
  html {
	  height: 100%;
  }
  
  body {
	  background: url(images/backwall.png) repeat-y;
	  background-size: cover;
	  background-position-y: top 50px;
	  background-attachment: fixed;
	  height: 100%;
	  background-color: #321348;
  }
  
  
  h1 {
	  padding-top: 30px;
	  font-family: "Roboto Condensed", Roboto, Lato, Arial, sans-serif;
  }
  
  p {
	display: block;
	margin: 20px auto 50px;
  }
  
  #videoreel {
	  padding: 0px;
	  margin: 0px 0px -3px;
  }
  
  .videom {
	  display: block;
	  top: 0px;
	  padding: 0px;
	  margin: 0px;
	  width: 100%;
	  height: 100%;
	  object-fit: cover;
  }
  
  #sticky  {
	  z-index: 200;
	  height: 100%;
	  text-align: center;
	  top: -1px;
	  position: sticky;
	  position: -webkit-sticky;
	  background-color: rgb(255, 194, 84);
  }
  
  .wordmark img {
	  width: 24mm;
	  height: auto;
	  margin: 15px 25px 10px;
  }
  
  .wordmark {
	  background-color: #321348;
  }
  
  .wordmark {
	  float: left;
  }

  .wordmark {
	  z-index: 300;;
  }

  ul {
	  position: relative;
	  text-align: center;
	  width: 100%;
	  z-index: 100;
	  list-style-type: none;
	  margin: 0px;
	  padding: 0px;
	  overflow: auto;
	  background-color: rgb(255, 194, 84);
	}
  
  li {
	  float: right;
	}
  
  li  a {
	  display: inline-block;
	  color: #111111;
	  text-align: center;
	  padding: 20px 22px;
	  font-weight: bold;
	  height: 71px;
	}
  
  a:link {
	  text-decoration: none;
	  color: #333;
	}
	
	/*a:visited {
	  background-color: ;
	  color: #333;
	}*/
	
	ul a:hover {
	  background-color: #321348;
	  color: #fff;
	}
	
	ul a:active {
	  background-color: #333333;
	} 
  
  .wrapper {
	  display: grid;
	  padding: 0px;
	  margin: 0px;
	  width: 100%;
	  background: #fff;
  }
  
  .wrapper div { 
	  text-align: center;
	  
  }
  
  .about {
	  text-align: justify;
	  font-size: 12pt;
	  width: 770px;
	  font-family: "Roboto Condensed", Roboto, "Open Sans", Futura, Lato, Arial;
	  line-height: 18pt;
  }
  
  .about h1 {
	  font-size: 25pt;
  }
  
  #aboutdiv {
	  padding: 60px 0px 5px;
  }
  
  #services {
	  text-align: center;
	  width: 100%;
	  padding: 55px 0px 40px;
	  margin: 0px;
	  min-height: 250px;
	  text-align: center;
  }
  
  #services p {
	  color: #fff;
	  font-family: "Roboto Condensed", Roboto, "Open Sans", Futura, Lato, Arial, sans-serif;
  }
  
  #services h1 {
	  color: #fff;
	  font-family: "Roboto Condensed", Roboto, "Open Sans", Futura, Lato, Arial, sans-serif;
	  font-weight: bold;
	  margin: 10px 0px 30px;
  }
  
  #services h2, h3 {
	  color: #FFC254;
	  font-family: "Roboto Condensed", Roboto, "Open Sans", Futura, Lato, Arial;
	  font-weight: bold;
	  margin: 10px 0px 10px;
  }
  
  #services h4 {
	  color: #FFC254;
	  font-family: "Roboto Mono", "Roboto Condensed", "Open Sans", Futura, Lato, Arial, sans-serif;
	  margin: 10px 0px 10px;
  }
  
  .footer {
	  z-index: 5;
	  color: #fff;
	  padding: 15px 0px 20px;
	  text-align: center;
  }
  
  .foot {
	  color: #a9a297;
	  padding: 45px;
	  font-size: 12pt;
	  position: relative;
  }

  /*SOCIAL_LINKS*/

  #social_links {
	padding: 3%;
	width: 100%;
	background-color: #FFC254;
  }

  #social_links a {
	margin: 0 2%;
	display: inline-block;
}

  /*GALLERY RULES*/
  
	  .gallery {
		  text-align: center;
		  position: relative;
		  overflow: hidden;
		  height: 200px;
	  }
  
	  #galdiv {
		  padding: 0px 2%;
	  }
  
	  .gallery img {
		  width: 100%;
		  object-fit: cover;
		  -webkit-transition: 1s;
		  transition: 1s;
		  filter: grayscale(45%);
		  }
  
	  .gallery img:hover {
		  transform: scale(1.05);
		  filter: grayscale(0);
		  }
  
	  .desc {
		  overflow: hidden;
		  height: 15%;
		  bottom: 0px;
		  width: 100%;
		  position: absolute;
		  z-index: 50;
		  padding:10px 0px;
		  text-align: center;
		  background-color: #321348b7;
		  -webkit-transition: .5s;
		  transition: .5s;
		  }
		  
		.text {
			padding:10% 15px;
			color: #fff;
			width: 100%;
			height: 100%;
			position: absolute;
			font-family: Roboto, "Open Sans", Futura, Lato, Arial, sans-serif;
			-webkit-transition: .5s;
			transition: .5s;
			overflow: hidden;
		}
  
	  .desc:hover {
		  height: 70%;
		  overflow: hidden;
		  background-color: #321348cb;
	  }
  
	  .responsive {
		  padding: 0px 10px 50px;
		  float: left;
		  width: 33.33%;
		  }


		input:checked + .responsive .gallery img {
			transform: translate(-50%, -50%);
			z-index: 500;
			position: fixed;
			top: 50%;
			left: 50%;
			width: auto;
			height: auto;
			max-width: 90%;
			min-width: 30%;
			max-height: 90%;
			object-fit: contain;
			overflow: hidden;
			-webkit-transition: 0s;
			transition: 0s;
			filter: none;
			-webkit-box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
  			-moz-box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
  			box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
		}
  
	  @media only screen and (max-width: 900px) {
		  .responsive {
			  width: 50%;
			  }
				  
		  .about {
			  width: 450px;
			  }
  
		  #aboutdiv {
			  padding: 35px 0px 5px;
			  }
  
		  #sticky  {
			  text-align: center;
			  z-index: 200;
			  top: -1px;
			  position: sticky;
			  }
	  
		  ul {
			  width: 100%;
			  z-index: 100;
			  list-style-type: none;
			  margin: 0px;
			  padding: 0px;
				}
			  
		  li, li a {
			  width: 100%;
			  float: none;
			  display: inline-block;
  
				}
			  
		  li  a {
			  color: #111111;
			  text-align: center;
			  padding: 17px 15px;
			  font-weight: bold;
			  height: auto;
			  }
  
		  ul li {
			  display: none;
			  }

			input:checked + #sticky #list li {
				display: inline-block;
			}
  
		  .wordmark img {
			  width: 20mm;
			  height: auto;
			  margin: 10px 15px;
			  }
  
		  .wordmark {
			  display: inline-block;
			  float: left;
			  overflow: hidden;

				  }
  
		  .wordmark:hover {
			  background-color: #321348;		
			  }
			  
		  }
  
	  @media only screen and (max-width: 500px) {
		  .responsive {
			  width: 100%;
		  }
		  body {
		  background-size: contain;
		  background-position-y: top 60px;
		  }
		  
		  .about {
			  width: 280px;
			  text-align: center;
		  }
  
		  #galdiv {
			  padding:0px;
		  }
  
		  .videom {
			  display: none;
		  }

		  #cover {
			  display: block;
		  }
  
		  .wordmark {
			  width: 100%;
			  }
  
	   }
