
.grid-container {
  display: grid;
  grid-template-columns: 30% 30% auto;
  grid-gap: 10px;
  #background-color: #2196F3;
  margin-bottom: 35px;
}


.grid {
  #background-color: rgba(255, 255, 255, 0.8);
  padding: 0;
}

.grid .img2 {
  object-fit: cover;
  height: 100%;
  width: 100%;
  overflow: hidden;
  padding: 35% 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


.it1 {
  grid-column: 1 / span 2;
  grid-row: 1 / span 2;
}

.it2 {
  grid-column: 1;
  grid-row: 3;
}

.it3 {
  grid-column: 2;
  grid-row: 3;
}

.it4 {
  grid-column: 3;
  grid-row: 1;
  max-height: 200px;
  overflow: hidden;
}

.it5 {
  grid-column: 3;
  grid-row: 2;
}

h1, h2, h3, h4 {
  padding: 0 0 0 10px;
  margin-bottom: 5px;
}

.grey {
  color: darkgrey;
}

p {
  font-size: 12pt;
  padding: 0 10px;
  word-wrap: break-word;
}

.credits {
  font-size: 10pt;
}


@media only screen and (max-width: 750px) {

  .it1 {
    grid-column: 1 / span 2;
    grid-row: 2;
  }

  .it2 {
    grid-column: 1;
    grid-row: 3;
  }

  .it3 {
    grid-column: 2;
    grid-row: 3;
  }

  .it4 {
    grid-column: 1 / span 2;
    grid-row: 1;
    max-height: 200px;
    overflow: hidden;
    margin-bottom: 15px;
  }

  .it5 {
    margin-top: 20px;
    grid-column: 1 / span 2;
    grid-row: 4;
  }

  .grid-container {
    display: grid;
    grid-template-columns: 50% auto;
    grid-gap: 10px;
    #background-color: #2196F3;
    margin-bottom: 75px;
  }

}
