
/*GENERAL RULES */
* {
	margin:0;
	padding:0px;
	box-sizing: border-box;
	text-decoration: none;
	list-style-type: none;
	font-family: Raleway, Roboto, "Roboto Condensed", "Open Sans", Futura, Lato, Arial, sans-serif;
  }

	html {
    position: relative;
    min-height: 100%;
}
/*===========================================================*/

body {

}

#wrapper {
	width: 100%;
	display: grid;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	#display: flex;
	#flex-wrap: wrap;
}

main {

}

#gallery {
	width: 100%;
	margin: 10% 0;
	display: grid;
}

.about_par {
	word-wrap: break-word;
	color: #fff;
	font-size: 14pt;
	font-weight: 500;
}


.responsive1 {
	display: inline-block;
	width: 60%;
	max-width: 700px;
	margin-bottom: 20px;
	color: #fff;
}

#about_wrap {
	text-align: center;
	padding: 20px;
}
/*===========================================================*/
header {

}

.site_header {
	display: inline-block;
}

/*NAVIGATION BAR RULES*/
#logotete {
	float: left;
	margin: 0 0 0 20px;
}

#logotete a {
	display: block;
}

#navdiv {

}

#navdiv::after {
	float: clear-float;
}

.navbar {
	padding-top: 50px;
	position: relative;
	float: right;
	word-spacing: 12pt;
}

.navbar a {
	text-decoration: overline;
	color: rgb(28 30 32);
	font-size: 13pt;
	font-weight: 420;
}

/*===========================================================*/


/*===========================================================*/
#bannerdiv {
	background-color: blue;
	min-height: 200px;
}
#thumbnails {
	display: block;
	min-height: 200px;
}


.title {
	display: block;
	position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
	text-align: center;
	width: 100%;
	height: 100%;
}

.title a {
	#z-index: 900;
	width: 100%;
	height: 100%;
}

.text {
	transition: .5s;
	filter: opacity(0);
	font-weight: bolder;
	color: #ffffff;
	font-size: 38pt;
}

.title:hover .text {
	filter: opacity(1) drop-shadow(2px 2px 6px black);
}

.text {
	z-index: 500;
	display: block;
	position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	webkit: translate(-50%, -50%);
}

.iso {
	width: 100%;
	height: 100%;
	display: block;
	transition: .3s;
	filter: opacity(0);
}

.title:hover .iso {
	z-index: 100;
	position: fixed;
	background-color: #08265F;
	height: 100%;
	width: 100%;
	top: 0px;
	left: 0px;
	display: initial;
	filter: opacity(.9);
}

/*===========================================================*/
.responsive {
	text-align: center;
	margin-bottom: 20px;
	#float: left;
	display: block;
	width: 100%;
	padding: 0;
	overflow: hidden;
	#padding-right: 2px;
	background-size: cover;
	box-sizing: border-box;
}

#description {
	padding: 5%;
	#background-color: #0a2463ff;
	#background-color: #0a246387;
	#background-color: #1d46cfff;
}
#description, #title, #title_text {
	display: block;
	width: 100%;
}

.tittle {
	color: #fff;
	font-size: 46pt;
	margin: 15px;
}
.tittle_text {
	color: #fff;
	font-size: 16pt;
	font-weight: 400;
	padding: 0 30px;
}

.thumb {
	display: block;
	position: relative;
	padding: 0 auto;
	width: 100%;
	object-fit: cover;
}

	.img {
	    width:  100%;
	    padding: 15%;
			display: block;
	    background-size: cover;
			background-position: center;
}

/*===========================================================*/



/*===========================================================*/
/*INPUT RULES *//*
  input {
	display: none;
	position: fixed;
}
*/

/*STICKY PROPERTIES*/
#sticky  {
  z-index: 200;
	height: 100%;
	text-align: center;
	top: -1px;
	position: sticky;
	position: -webkit-sticky;
	background-color: rgb(255, 194, 84);
}
/*===========================================================*/



/*===========================================================*/

@media only screen and (max-width: 800px) {
	.responsive {
		width: 100%;
	}
/*
	header {
		width: 90%;
		height: 120px;
		margin: 25px 5% 0;
	}
*/

}

@media only screen and (max-width: 520px) {
	.text {
		transition-property: all .5s;
		filter: opacity(.5) drop-shadow(2px 2px 4px black);
		animation: blink 3s infinite alternate;
		font-weight: bolder;
		color: #ffffff;
		font-size: 32pt;
	}

	@keyframes blink {
  	from {opacity: 0;}
  	to {opacity: .7;}
	}
}
